body {
    background-image: url(img/Final-Background.jpg);
}

#scoreBoard {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 120px;
    background-color: pink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.scoreCircle {
    border-radius: 50px;
    border: 10px solid #be299e;
    width: 90px;
    height: 90px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

#score {
    padding-top: 30px;
    font-size: 26px;
    font-weight: bolder;
}

.grid {
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}

.grid div {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    box-sizing: border-box;
}